.fondo{
    background-color: blue;
    color: aliceblue;
    text-align: center;
}

@media only screen and (min-width:768px){
    .fondo{
        background-color:red;
        color: aliceblue;
        text-align: center;
    }
}

@media only screen and (min-width:1024px){
    .fondo{
        background-color:rgb(82, 173, 29);
        color: aliceblue;
        text-align: center;
    }