body{
    
    background-color:#bfd7ea;
}
h1{
    color:#0b3954;
}
p{
    color:#0b3954;
    background-color: cadetblue;
    padding: 15px;
    border: 10px solid #ff5a5f;
    /*margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;*/
    margin: auto 50px;
    text-align: center;

}