h1{
    color:#c81d25;
}

a:link{
    color:#ff5a5f;
    text-decoration: none;
}

a:visited{
    color:#ff5a5f;
    text-decoration: none;
}

/*cuandoo nos ponemos encima del link*/
a:hover{
    color: darkgreen;
}

a:active{
    color: blueviolet;
}